<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="FTAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
   <section name="FTAnalyzer.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
 <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client" /></startup><userSettings>
  <FTAnalyzer.Properties.Settings>
   <setting name="LoadLocation" serializeAs="String">
    <value />
   </setting>
  </FTAnalyzer.Properties.Settings>
  <FTAnalyzer.Properties.GeneralSettings>
   <setting name="UseBaptismDates" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SavePath" serializeAs="String">
    <value />
   </setting>
   <setting name="AllowEmptyLocations" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UseResidenceAsCensus" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="TolerateInaccurateCensusDate" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReloadRequired" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="ReportOptions" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="IncludePartials" serializeAs="String">
    <value>True</value>
   </setting>
  </FTAnalyzer.Properties.GeneralSettings>
 </userSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="AF08829B84F0328E" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-2.1.2.0" newVersion="2.1.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
