<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FTAnalyzer.Properties.FontSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.NonGedcomDate" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.FileHandling" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.MappingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="FTAnalyzer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="DpiAwareness" value="PerMonitorV2" />
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="true" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <userSettings>
    <FTAnalyzer.Properties.FontSettings>
      <setting name="SelectedFont" serializeAs="String">
        <value>Microsoft Sans Serif, 9pt</value>
      </setting>
      <setting name="FontNumber" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="FontWidth" serializeAs="String">
        <value>5.8</value>
      </setting>
      <setting name="FontSize" serializeAs="String">
        <value>8.25</value>
      </setting>
    </FTAnalyzer.Properties.FontSettings>
    <FTAnalyzer.Properties.NonGedcomDate>
      <setting name="UseNonGedcomDates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DateFormat" serializeAs="String">
        <value>dd/MM/yyyy</value>
      </setting>
      <setting name="Regex" serializeAs="String">
        <value>^\d{1,2}\/\d{1,2}\/\d{4}$</value>
      </setting>
      <setting name="Separator" serializeAs="String">
        <value>/</value>
      </setting>
      <setting name="FormatSelected" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
    </FTAnalyzer.Properties.NonGedcomDate>
    <FTAnalyzer.Properties.FileHandling>
      <setting name="LoadWithFilters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RetryFailedLines" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Convertdiacritics" serializeAs="String">
        <value>True</value>
      </setting>
    </FTAnalyzer.Properties.FileHandling>
    <FTAnalyzer.Properties.MappingSettings>
      <setting name="CustomMapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UseParishBoundaries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideScaleBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePartials" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="GoogleAPI" serializeAs="String">
        <value />
      </setting>
    </FTAnalyzer.Properties.MappingSettings>
    <FTAnalyzer.Properties.Settings>
      <setting name="LoadLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string />
            <string />
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="GUID" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="StartTime" serializeAs="String">
        <value />
      </setting>
    </FTAnalyzer.Properties.Settings>
    <FTAnalyzer.Properties.GeneralSettings>
      <setting name="UseBaptismDates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowEmptyLocations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseResidenceAsCensus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TolerateInaccurateCensusDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReloadRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportOptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinParentalAge" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="OnlyCensusParents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseBurialDates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MultipleFactForms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastXPWarning" serializeAs="String">
        <value>2014-03-25</value>
      </setting>
      <setting name="UseCompactCensusRef" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowAliasInName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HidePeopleWithMissingTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReverseLocations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCreateCensusFacts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWorldEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddCreatedLocations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreFactTypeWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TreatFemaleSurnamesAsUnknown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="HideIgnoredDuplicates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowMultiAncestors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipCensusReferences" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SkipFixingLocations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ConvertResidenceFacts" serializeAs="String">
        <value>True</value>
      </setting>
    </FTAnalyzer.Properties.GeneralSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.3.0" newVersion="12.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.4.1.0" newVersion="3.4.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.111.0" newVersion="1.0.111.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="gdal_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4704.32537" newVersion="1.0.4704.32537" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ogr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4704.32537" newVersion="1.0.4704.32537" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="osr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.4704.32536" newVersion="1.0.4704.32536" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NetTopologySuite" publicKeyToken="f580a05016ebada1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>