<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="FTAnalyzer.Properties.FileHandling" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.MappingSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="FTAnalyzer.Properties.GeneralSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <log4net>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="FTAnalyzer.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{ABSOLUTE} [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="test" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <FTAnalyzer.Properties.FileHandling>
      <setting name="LoadWithFilters" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="RetryFailedLines" serializeAs="String">
        <value>False</value>
      </setting>
    </FTAnalyzer.Properties.FileHandling>
    <FTAnalyzer.Properties.MappingSettings>
      <setting name="CustomMapPath" serializeAs="String">
        <value />
      </setting>
      <setting name="UseParishBoundaries" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HideScaleBar" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IncludePartials" serializeAs="String">
        <value>True</value>
      </setting>
    </FTAnalyzer.Properties.MappingSettings>
    <FTAnalyzer.Properties.Settings>
      <setting name="LoadLocation" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentFiles" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string />
            <string />
            <string />
            <string />
            <string />
          </ArrayOfString>
        </value>
      </setting>
      <setting name="HideIgnoredDuplicates" serializeAs="String">
        <value>True</value>
      </setting>
    </FTAnalyzer.Properties.Settings>
    <FTAnalyzer.Properties.GeneralSettings>
      <setting name="UseBaptismDates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="AllowEmptyLocations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseResidenceAsCensus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TolerateInaccurateCensusDate" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReloadRequired" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReportOptions" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MinParentalAge" serializeAs="String">
        <value>16</value>
      </setting>
      <setting name="OnlyCensusParents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseBurialDates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MultipleFactForms" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastXPWarning" serializeAs="String">
        <value>2014-03-25</value>
      </setting>
      <setting name="UseCompactCensusRef" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowAliasInName" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="HidePeopleWithMissingTag" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ReverseLocations" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoCreateCensusFacts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowWorldEvents" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AddCreatedLocations" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="IgnoreFactTypeWarnings" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TreatFemaleSurnamesAsUnknown" serializeAs="String">
        <value>True</value>
      </setting>
    </FTAnalyzer.Properties.GeneralSettings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.104.0" newVersion="1.0.104.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ogr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5387.28600" newVersion="1.0.5387.28600" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="gdal_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5387.28601" newVersion="1.0.5387.28601" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="osr_csharp" publicKeyToken="db5a52b08dc5b321" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.5387.28600" newVersion="1.0.5387.28600" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="GeoAPI" publicKeyToken="a1a0da7def465678" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.4.0" newVersion="1.7.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>