<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for FTAnalyzer.Windows" Description="Code analysis rules for FTAnalyzer.Windows.csproj." ToolsVersion="15.0">
  <Include Path="minimumrecommendedrules.ruleset" Action="Default" />
  <Include Path="nativerecommendedrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
  </Rules>
</RuleSet>